{% extends "base.html" %}

{% block content %}
        <br>
        <h1>Create your album</h1>
        <form method="POST" action="{{ url_for('album') }}">
            <label for="name">Name for your album</label>
            <input type="string" id="name" name="name" required>
            <br>
            <br>
            <button class="button ld-over-full" onclick="this.classList.toggle('running'); window.location.reload();" type="submit">
                Create the album
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </form>
        <br>
        <br>
        <form method="POST" action="{{ url_for('newUser') }}">
            <button class="button" type="submit">New User?</button>
        </form>
        <!-- countdown javascript -->
{% endblock %}