{% extends "base.html" %}

{% block content %}
        <br>
        <h1>Image was taken!</h1>
        {% for img in files %}
            <img style="width:300px;" src={{ img }}>
        {% endfor %}
        <br>
        <br>
        <form action="/takePhoto">
            <button class="button ld-over-full" onclick="this.classList.toggle('running'); window.location.reload();" type="submit">
                Retake?
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </form>
        <form action="/prePhotoWithAlbum">
            <button class="button" type="submit">Back to Main Menu</button>
        </form>
        <form action="/googleAuth">
            <button class="button" type="submit">New Album? Click here</button>
        </form>
        <form action="/upload">
            <button class="button ld-over-full" onclick="this.classList.toggle('running'); window.location.reload();" type="submit">
                Upload photos
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </form>
{% endblock %}