<html>
    <body>
        <h1>Image was taken!</h1>
        {% for img in files %}
            <img style="width:300px;" src={{ img }}>
        {% endfor %}
        <form action="/upload" method="POST">

        </form>
        <br>
        <form action="/takePhoto">
            <button type="submit">Retake?</button>
        </form>
        <br>
        <form action="/prePhotoWithAlbum">
            <button type="submit">Back to Main Menu</button>
        </form>
        <br>
        <form action="/">
            <p>Want a new Album?</p>
            <button type="submit">Click here</button>
        </form>
        <br>
        <form action="/upload">
            <button type="submit">Upload photos</button>
        </form>
    </body>
</html>