{% extends "base.html" %}

{% block content %}
        <br>
        <h1>Welcome to PhotoBooth!</h1>
        <form action="/googleAuth">
            <button class="button" type="submit">
                Let's begin
            </button>
        </form>
        <a href="https://github.com/geomin76/photobooth" target="_blank"><img style="width:50px;" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"/></a>
        <!-- have a theme/text on photobooth -->
        <!-- also a 3,2,1 screen for photos -->
{% endblock %}