{% extends "base.html" %}

{% block content %}
        <br>
        <p>There is an album called {{ name }} in your Google Photos account.</p>
        <br>
        <form action="/takePhoto">
            <button class="button ld-over-full" onclick="this.classList.toggle('running'); window.location.reload();" type="submit">
                Take your photo!
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </form>
        <!-- countdown javascript -->
{% endblock %}